.template-compose .tile {
    border:1px dashed #999;
    padding-top:1em;
}
.template-compose .tile-container {
    position:relative;
}
.template-compose .edit-tile-link {
    position:absolute;
    height:1em;
    line-height:1em;
    top:0px;
}

.tile-select-button {
    cursor: pointer;
}
