/* Basic style for tiles */
.tile-title {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 1em;
}
.tile-footer {
    text-align: right;
}

/*loading mask*/
.loading-mask {
    background: #000 url('spinner.gif') scroll no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#000;
    opacity: 0.6 !important;
    display: none;
    z-index: 99;
}
.loading-mask.show {
    display:block;
}
.loading-mask.remove-tile {
    background-color: #833434;
}

.template-compose #content .tile {
    outline:1px dotted #999;
    padding-top:1em;
}
.template-compose .tile-container {
    position:relative;
}
.template-compose .edit-tile-link,
.template-compose .collection-link {
    position:absolute;
    height:1em;
    line-height:1em;
    top: 0;
}
.template-compose .collection-link {
    right: 0;
}

.tile-select-button {
    cursor: pointer;
}

.tile-remove-item {
    position:absolute;
    right: 10px;
    top: 0;
    font-size: 15px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background:transparent url('remove.png') scroll no-repeat top center;
}
.tile-remove-item:hover {
    background:transparent url("remove.png") no-repeat scroll center -20px;
}
.tile-remove-item .text{
    visibility: hidden;
}

/*drag and drop*/

.ui-sortable-placeholder {
    background-color:#9ad39d !important;
    visibility:visible !important;
    outline:1px dashed green;
}
.ui-sortable-helper {
    opacity:0.5;
    outline:1px solid #333;
    cursor:move;
}
.template-compose #content .tile {
    margin-bottom: 1em;
    min-height: 100px;
}
.ui-state-default .loading-mask{
    display:block;
    background: #EEE url('drophere.png') scroll no-repeat center center;
    opacity: 0.8 !important;
}
.ui-state-hover .loading-mask{
    display:block;
    background-color: #b4fca3;
}

.tile-container img.right {
    float: right;
    margin: 0 1em 0.5em 0;
}

.tile-container img.left {
    float: left;
    margin: 0 1em 0.5em 0;
}

.galleria-inner {
    width: 100%;
    height: 450px;
}

/* conflicts */
table.invisible{visibility:visible;}
.close {opacity: 1;}

/*Skins*/
.tile-edge {
    border: 1px solid #DDDDDD;
    padding: 5px;
    border-radius: 4px;
}

.tile-dark {
    background: #DDDDDD;
    padding: 5px;
    border-radius: 4px;
}

.tile-shadow {
    border: 1px solid #DDDDDD;
    padding: 5px;
    border-radius: 4px;
    -moz-box-shadow: 0 5px 10px #C3C3C3;
    -webkit-box-shadow: 0 5px 10px #C3C3C3;
    box-shadow: 0 5px 10px #C3C3C3;
}

/* Cover grid system
 * Based on The 12-column Deco Grid System, see http://deco.gs
 */

div.c-row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
div.c-cell {
  position: relative;
  float: left;
  left: 100%;
}

/* Width classes. */
div.cw-1  { width: 6.2500%   }
div.cw-2  { width: 14.583% }
div.cw-3  { width: 22.916% }
div.cw-4  { width: 31.250% }
div.cw-5  { width: 39.583% }
div.cw-6  { width: 47.916% }
div.cw-7  { width: 56.249% }
div.cw-8  { width: 64.583% }
div.cw-9  { width: 72.916% }
div.cw-10 { width: 81.249% }
div.cw-11 { width: 89.583% }
div.cw-12 { width: 97.916% }

/* Positioning classes */
div.cp-0  { margin-left: -100%    }
div.cp-1  { margin-left: -91.667% }
div.cp-2  { margin-left: -83.334% }
div.cp-3  { margin-left: -75.001% }
div.cp-4  { margin-left: -66.668% }
div.cp-5  { margin-left: -58.335% }
div.cp-6  { margin-left: -50.002% }
div.cp-7  { margin-left: -41.669% }
div.cp-8  { margin-left: -33.336% }
div.cp-9  { margin-left: -25.003% }
div.cp-10 { margin-left: -16.67% }
div.cp-11 { margin-left: -8.337% }

/* End of the Cover Grid System */