/*loading mask*/
.loading-mask {
    background: #000 url('spinner.gif') scroll no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#000;
    opacity: 0.6 !important;
    display: none;
    z-index: 99;
}
.loading-mask.show {
    display:block;
}
.loading-mask.remove-tile {
    background-color: #833434;
}

.template-compose .tile {
    outline:1px dotted #999;
    padding-top:1em;
}
.template-compose .tile-container {
    position:relative;
}
.template-compose .edit-tile-link {
    position:absolute;
    height:1em;
    line-height:1em;
    top: 0;
}

.tile-select-button {
    cursor: pointer;
}

.tile-remove-item {
    position:absolute;
    right: 10px;
    top: 0;
    font-size: 15px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background:transparent url('remove.png') scroll no-repeat top center;
}
.tile-remove-item:hover {
    background:transparent url("remove.png") no-repeat scroll center -20px;
}
.tile-remove-item .text{
    visibility: hidden;
}

/*drag and drop*/

.ui-sortable-placeholder {
    background-color:#9ad39d !important;
    visibility:visible !important;
    outline:1px dashed green;
}
.ui-sortable-helper {
	opacity:0.5;
	outline:1px solid #333;
	cursor:move;
}
.ui-state-default {
    min-height: 100px;
}
.ui-state-default .loading-mask{
    display:block;
    background: #EEE url('drophere.png') scroll no-repeat center center;
    opacity: 0.8 !important;
}
.ui-state-hover .loading-mask{
    display:block;
    background-color: #b4fca3;
}

.tile-container img.right {
	float: right;
	margin: 0 1em 0.5em 0;               	
}

.tile-container img.left {
	float: left;
	margin: 0 1em 0.5em 0;               	
}
