.template-compose .tile {
    outline:1px dotted #999;
    padding-top:1em;
}
.template-compose .tile-container {
    position:relative;
}
.template-compose .edit-tile-link {
    position:absolute;
    height:1em;
    line-height:1em;
    top:0px;
}

.tile-select-button {
    cursor: pointer;
}

.tile-remove-item {
    position:absolute;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 15px;
    cursor: pointer;
}

/*drag and drop*/

.ui-sortable-placeholder {
    background-color:#9ad39d !important;
    visibility:visible !important;
    outline:1px dashed green;
}
.ui-sortable-helper {
	opacity:0.5;
	outline:1px solid #333;
	cursor:move;
}
