.layout {
    position:relative;
    min-height: 130px;
    margin: 30px 0;
}

/*ROWS*/
.layout .cover-row {
    outline: 1px dashed blue;
    margin: 0 0 15px;
    min-height: 100px;
    padding: 15px 1%;
    position: relative;
}

/*COLUMNS*/
.layout .cover-column {
    min-height: 100px;
    outline: 1px dashed #ccc;
    padding: 0;
    float:left;
    position: relative;
    overflow: hidden;
    border:medium none;
}

/*TILES*/
.layout .cover-tile,
.tile-placeholder {
    background-color: #F9F9F9;
    margin: 15px;
    min-height: 50px;
    outline: 1px solid #999;
    position: relative;
}

}

/* SIDEBAR */
#sidebar .btn {
    cursor:pointer;
    padding:9px;
}

#sidebar .draggable {
    cursor: move;
}
#sidebar .btn:hover {
    color:#FFF !important;
}

#sidebar ul {
    list-style-type: none;
    margin-left: 0;
}
#sidebar li {
    display:inline;
}


.ui-sortable-placeholder {
    background-color: #F9F9F9;
    outline: 1px solid #999;
    display: block;
    height:100px;
    margin: 0 0 15px;
}
.ui-sortable-placeholder-column {
    background-color: #F9F9F9;
    outline: 1px solid #999;
    float: left;
    min-height: 100px;
    padding: 0;
    position: relative;
}
.ui-sortable-placeholder-column {
    margin-left: 0 !important;
}

#content .layout .config-tile-link:link {
    position: absolute;
    color: #FFFFFF;
    cursor: pointer;
    right: 0;
    left: auto;
    top: 0 !important;
    font-size: 10px;
    line-height: 1em;
    width: 24px;
    height: 24px;
    padding: 0;
    border: medium none;
}

#content .layout .config-tile-link .config-icon {
    background: transparent url(/++resource++collective.cover/conf.png) no-repeat center center;
    height: 24px;
    width: 24px;
    display: block;
}

#content .layout .resizer {
    background: transparent url(/++resource++collective.cover/resize.png) no-repeat center center;
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    /*cursor: e-resize;*/
    cursor: pointer;
}











.tile-placeholder {
    background-color: #DDD;
}

.layout .row {
    outline: 1px dashed blue;
    margin: 0 0 15px;
    min-height: 100px;
    padding: 15px 0;
}

.layout .column {
    min-height: 100px;
    outline: 1px dashed #ccc;
    padding: 15px 0;
}

.layout .tile-wrapper {
    padding: 10px;
}
.layout .guides {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    visibility:hidden;
}
.layout .row-guide {
    border-left:1px dotted #333;
    height:100%;
}
.layout .config-tile-link {
    float:right;
}

.ui-resizable-helper {
    border: 1px dotted #00F;
}

#news img {
    float: right;
}

#news p {
    clear: both;
}
.row-droppable {
    clear: both;
    width: 100%;
}

.row-droppable.ui-state-default {
    display: block;
    min-height: 20px;
}

.layout .label {
    font-size: 10px;
    left: 0;
    line-height: 1em;
    min-width: 5em;
    position: absolute;
    text-align: center;
    top: 0;
    padding-right:10px;
    padding-left:10px;
}

.layout .columnlabel {
    top: 0;
    bottom:auto;
}

.layout .permitionbutton {
    position: absolute;
    right: 15px;
    background-color: #000;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 10px;
    line-height: 1.5em;
    min-width: 5em;
    top: 0;
    text-align: center;
    padding-right:10px;
    padding-left:10px;
}

.layout .to-delete {
    outline:1px solid red;
}
.add-column {
    height: 49%;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    cursor:pointer;
    border-left:1px dashed #CCCCCC;
    border-bottom:1px dashed #CCCCCC;    
    background: #FFF url(/++resource++collective.cover/arrow-right.gif) no-repeat center center;
}

.remove-column {
    height: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    width: 10px;
    cursor:pointer;
    border-left:1px dashed #CCCCCC;
    background: #FFF url(/++resource++collective.cover/arrow-left.gif) no-repeat center center;
}
.add-column.disabled {
    background-color:#eaeaea;
}

/*ACTION BUTTONS*/

.icon-white {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 22px;
}
#btn-row .icon-white{
    background: url(/++resource++collective.cover/rows.png) no-repeat 0 0;
}

#btn-column .icon-white{
    background: url(/++resource++collective.cover/columns.png) no-repeat 0 0;
}

#btn-tile .icon-white{
    background: url(/++resource++collective.cover/tiles.png) no-repeat 0 0;
}

#group-select-list,
#tile-select-list {
    display:none;
}

#tile-configure  {
    display:none;
}

#collective-cover-list-uuids-size {
    width: 25px;
}

#content #collective-cover-list-uuids-tiletitle {
    width: 100px;
    font-size: 1em;
}

.tile-name {
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 10px;
}
.tiles-configuration {
    padding:15px;
}
