#content {
    position: relative;
}
#screenlet-content-search {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    padding: 20px;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
}

#screenlet-content-search.right {
    right: 0;
}

#screenlet-content-search .item-list {
    border: 1px solid #ccc;
    height: 250px;
    margin: 10px 0 0;
    overflow: auto;
    padding: 5px;
    width: 500px;
}

#screenlet-content-search .item-list li {
    cursor: pointer;
    list-style-image: none;
    list-style-type: none;
}

#screenlet-content-search .item-list li:hover {
   background-color: #205C90;
}

#content #screenlet-content-search .item-list li a:link {
    border-bottom: 0;
    display: block;
}

#screenlet-content-show-button {
    background: #fff;
    position: relative;
    right: 0;
    top: 0px;
    z-index: 999;
    font-weight: bold;
    float: right;
    margin-bottom: 10px;
}

#screenlet-content-search .close {
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.current {
    background: #fff;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}

div.input {
    margin: 10px 0px;
    width: 200px;
    padding: 3px 15px;
    border-radius: 36px;
    border: 1px solid #507AAA;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    background: white;
}

input[type="text"].screenlets-content-trees,
input[type="text"]#screenlets-content-trees {
    border: 0px solid;
    width: 100%;
    height: 16px;
    background: transparent;
    color: #888;
    text-shadow: 0 1px 1px white;
    padding-top: 1px;
    min-width: 12em;
}

