#screenlet-content-search {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    padding: 20px;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
}

#screenlet-content-search.right {
    right: 0;
}

#screenlet-content-search #item-list {
    border: 1px solid #ccc;
    height: 250px;
    margin: 10px 0 0;
    overflow: auto;
    padding: 5px;
    width: 300px;
}

#screenlet-content-search #item-list li {
    cursor: pointer;
    list-style-image: none;
    list-style-type: none;
}

#screenlet-content-search #item-list li:hover {
   background-color: #205C90;
}

#content #screenlet-content-search #item-list li a:link {
    border-bottom: 0;
    display: block;
}

#screenlet-content-show-button {
    background: #fff;
    border-radius: 0.5em 0.5em 0 0;
    cursor: pointer;
    font-weight: bold;
    margin-right: 3px;
    padding: 4px 1em;
    position: absolute;
    right: 0;
    top: 31px;
    z-index: 999;
}

#screenlet-content-search .close {
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
