*.egg-info
*.mo
*.pyc
*~
.*.kate-swp
.coverage
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
library-settings.txt
local.cfg
log.html
Makefile
node_modules
output.xml
parts/
report.html
selenium*
src/plone.app.blocks/
src/plone.app.deco/
src/plone.app.imaging/
src/plone.app.intid/
src/plone.app.stagingbehavior/
src/plone.app.tiles/
src/plone.scale/
src/plone.tiles/
var/
