*~
*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
library-settings.txt
log.html
output.xml
report.html
selenium*
bin/
develop-eggs/
downloads/
eggs/
parts/
src/plone.app.blocks/
src/plone.app.tiles/
var/
