language: python
python: 2.7
sudo: false
cache:
  directories:
  - eggs
  - parts/node
env:
  global:
    - ARTIFACTS_AWS_REGION=sa-east-1
    - ARTIFACTS_S3_BUCKET=collective-cover
    - secure: "Ll2tTrfw0vpGlk+tfdcOD8HOylIWlyFDtNL+ShfQtAZ9wHZEOFJJyVsaSpDbdgWD1Y+muSz8I9xcvNY7ag17jm8udSEWecGaMIodeHB5hIklEi/OovKoAUgPqaVtbNE/FtyURZf7KE+Nb7zCege6XjCD635U4W2P1/072aEY3CU="
    - secure: "bPiRnG3qFbWjD1zgVcTJAcOy8uuUwLKDIaVe15L6M5xLz49SfHFe6Zwc8jQ0g4J9xIDRqX4gcLnJffr0xJmBytXZGohFCjQRPUFruoy/stWWOrdgYT+9Jm9/TbVwoh+Cudo5iTNdIsaVnzcA6IyuTae/i9CJ9QQ7MBKyrjRV+T4="
  matrix:
    - PLONE_VERSION=4.2
    - PLONE_VERSION=4.3
    - PLONE_VERSION=4.3 JQUERY=1.8.3
    - PLONE_VERSION=5.0
matrix:
  allow_failures:
    - env: PLONE_VERSION=5.0
  fast_finish: true
install:
- sed -ie "s#test-4.3#test-$PLONE_VERSION#" buildout.cfg
- sed -ie "s#versions-4.3#versions-$PLONE_VERSION#" buildout.cfg
- test $JQUERY && sed -ie "s#plone.app.jquery = 1.7.2#plone.app.jquery = $JQUERY#" versions-4.3.x.cfg || true
- python bootstrap.py
- bin/buildout annotate
- bin/buildout -Nq
before_script:
  - export DISPLAY=:99.0
  - export GROK_DISABLE_TEMPLATE_WARNING=on
  - sh -e /etc/init.d/xvfb start
  - firefox -v
script:
- bin/code-analysis
- bin/test
after_success:
- bin/createcoverage -t "--layer=!Robot"
- pip install -q coveralls
- coveralls
after_failure:
  - gem install travis-artifacts -q
  - travis-artifacts upload --path parts/test
notifications:
  irc:
    channels: irc.freenode.org#simplesconsultoria
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
      - "Robot Test Report for Plone 4.2: http://collective-cover.s3-website-sa-east-1.amazonaws.com/artifacts/%{build_number}/%{build_number}.1/robot_report.html"
      - "Robot Test Report for Plone 4.3: http://collective-cover.s3-website-sa-east-1.amazonaws.com/artifacts/%{build_number}/%{build_number}.2/robot_report.html"
