[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
    versions.cfg

extensions += buildout.dumppickedversions

include-site-packages = false
package-name = collective.cover
package-extras = [test]
eggs +=
    Pillow
    iw.debug
    plone.reload
test-eggs = Pillow

parts += createzopecoverage omelette

[createzopecoverage]
recipe = createzopecoverage

[instance]
zcml += iw.debug

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
