.layout
{
    position: relative;

    clear: both;

    min-height: 130px;
    margin: 30px 0;
}

/* bootstrap classes*/
.btn
{
    font-size: 14px;
    line-height: 20px;

    display: inline-block;

    margin-bottom: 0;
    padding: 4px 12px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    color: #333;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) #a2a2a2;
    border-radius: 4px 4px 4px 4px;
    border-image: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 1px 2px rgba(0, 0, 0, .05);
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
.btn-inverse
{
    color: #fff;    border-color: #222 #222 #000;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    background-color: #363636;
    background-image:    -moz-linear-gradient(top,#444,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
    background-image: -webkit-linear-gradient(top,#444,#222);
    background-image:      -o-linear-gradient(top,#444,#222);
    background-image:         linear-gradient(to bottom,#444,#222);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);

    *background-color: #222;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-small
{
    font-size: 11.9px;

    padding: 2px 10px;

    border-radius: 3px 3px 3px 3px;
}
button.close
{
    padding: 0;

    cursor: pointer;

    border: 0 none;
    background: none repeat scroll 0 0 transparent;
}
.close
{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    float: right;

    opacity: .2;
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.modal
{
    position: fixed;
    z-index: 1050;
    top: 10%;
    left: 50%;

    overflow: auto;

    width: 560px;
    max-height: 80%;
    margin-left: -280px;
    padding: 15px;

    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.3);
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    outline: 0;
    background-color: #fff;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3);
       -moz-box-shadow: 0 3px 7px rgba(0,0,0,.3);
            box-shadow: 0 3px 7px rgba(0,0,0,.3);

    *border: 1px solid #999;
}

.hide
{
    display: none;
}
.show
{
    display: block;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled]
{
    color: #333;
    background-color: #e6e6e6;

    *background-color: #d9d9d9;
}

.btn:active,
.btn.active
{
    background-color: #ccc \9;
}

.btn:hover
{
    -webkit-transition: background-position .1s linear;
       -moz-transition: background-position .1s linear;
         -o-transition: background-position .1s linear;
            transition: background-position .1s linear;
    text-decoration: none;

    color: #333;
    background-position: 0 -15px;
}

.btn:focus
{
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active
{
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
       -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn.disabled,
.btn[disabled]
{
    cursor: default;

    opacity: .65;
    background-image: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    filter: alpha(opacity=65);
}

.btn-inverse.active
{
    color: rgba(255, 255, 255, .75);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled]
{
    color: #fff;
    background-color: #222;

    *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active
{
    background-color: #080808 \9;
}

button.btn::-moz-focus-inner,
input[type='submit'].btn::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/*ROWS*/
.layout .cover-row
{
    position: relative;

    display: inline-block;

    min-height: 80px;
    margin: 0;
    padding: 15px 1%;

    border-top: 1px dashed #ccc;
}

/*COLUMNS*/
.layout .cover-column
{
    position: relative;

    float: left;
    overflow: hidden;

    min-height: 80px;
    padding: 0;

    border: medium none;
    outline: 1px dashed #ccc;
}

/*TILES*/
.layout .cover-tile,
.tile-placeholder
{
    position: relative;

    min-height: 50px;
    margin: 15px;

    outline: 1px solid #999;
    background-color: #f9f9f9;
}

/* SIDEBAR */

#sidebar .btn
{
    padding: 0 9px;

    cursor: pointer;
}
#sidebar .btn span
{
    font-size: 11px;

    display: block;
}
#sidebar .draggable
{
    cursor: move;
}
#sidebar .btn:hover
{
    color: #fff !important;
}

#sidebar ul
{
    margin-left: 0;

    list-style-type: none;
}
#sidebar li
{
    display: inline;
}

#sidebar.fixed
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    padding: 17px;

    opacity: .95;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 2px 0 #888;
}


.ui-sortable-placeholder
{
    display: block;

    height: 100px;
    margin: 0 0 15px;

    outline: 1px solid #999;
    background-color: #f9f9f9;
}
.ui-sortable-placeholder-column
{
    position: relative;

    float: left;

    min-height: 100px;
    padding: 0;

    outline: 1px solid #999;
    background-color: #f9f9f9;
}
.ui-sortable-placeholder-column
{
    margin-left: 0 !important;
}

#content .layout .config-row-link:link,
#content .layout .config-column-link:link,
#content .layout .config-tile-link:link
{
    font-size: 10px;
    line-height: 1em;

    position: absolute;
    top: 0 !important;
    right: 0;
    left: auto;

    width: 16px;
    height: 16px;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: medium none;
}

#content .layout .config-row-link .config-icon,
#content .layout .config-column-link .config-icon,
#content .layout .config-tile-link .config-icon
{
    display: block;

    width: 16px;
    height: 16px;

    background: transparent url('++resource++collective.cover/img/conf.png') no-repeat center center;
    background-size: 100%;
}

#content .layout .resizer
{
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    width: 24px;
    height: 14px;
    /*cursor: e-resize;*/

    cursor: pointer;

    background: transparent url('++resource++collective.cover/img/resize-hor.png') no-repeat center center;
    background-size: 100%;
}

.template-layoutedit .ui-dialog .ui-dialog-titlebar-close
{
    height: 20px;

    cursor: pointer;

    border: none;
    outline: none;
    background: url('++resource++collective.cover/img/remove.png');
}
.template-layoutedit .ui-dialog .ui-dialog-titlebar-close:hover
{
    height: 20px;

    background: url('++resource++collective.cover/img/remove.png') 0 20px;
}



.tile-placeholder
{
    background-color: #ddd;
}

.layout .row
{
    min-height: 100px;
    margin: 0 0 15px;
    padding: 15px 0;

    outline: 1px dashed blue;
}

.layout .column
{
    min-height: 100px;
    padding: 15px 0;

    outline: 1px dashed #ccc;
}

.layout .tile-wrapper
{
    padding: 10px;
}
.layout .guides
{
    position: absolute;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;
}
.layout .row-guide
{
    height: 100%;

    border-left: 1px dotted #333;
}
.layout .config-tile-link
{
    float: right;
}

.ui-resizable-helper
{
    border: 1px dotted #00f;
}

#news img
{
    float: right;
}

#news p
{
    clear: both;
}
.row-droppable
{
    clear: both;

    width: 100%;
}

.row-droppable.ui-state-default
{
    display: block;

    min-height: 20px;
}

.layout .label
{
    font-size: 10px;
    line-height: 1em;

    position: absolute;
    top: 0;
    left: 0;

    min-width: 5em;
    padding-right: 10px;
    padding-left: 10px;

    text-align: center;
}

.layout .columnlabel
{
    top: 0;
    bottom: auto;
}

.layout .permitionbutton
{
    font-size: 10px;
    line-height: 1.5em;

    position: absolute;
    top: 0;
    right: 15px;

    min-width: 5em;
    padding-right: 10px;
    padding-left: 10px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: #000;
}

.layout .to-delete
{
    outline: 1px solid red;
}
.add-column
{
    position: absolute;
    top: 0;
    right: 0;

    width: 10px;
    height: 49%;

    cursor: pointer;

    border-bottom: 1px dashed #ccc;
    border-left: 1px dashed #ccc;
    background: #fff url('++resource++collective.cover/img/arrow-right.gif') no-repeat center center;
}

.remove-column
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 10px;
    height: 50%;

    cursor: pointer;

    border-left: 1px dashed #ccc;
    background: #fff url('++resource++collective.cover/img/arrow-left.gif') no-repeat center center;
}
.add-column.disabled
{
    background-color: #eaeaea;
}

/*ACTION BUTTONS*/

.icon-white
{
    line-height: 14px;

    display: inline-block;

    width: 22px;
    height: 14px;

    vertical-align: text-top;
}
#btn-row .icon-white
{
    background: url('++resource++collective.cover/img/rows.png') no-repeat scroll center 0 transparent;
}

#btn-column .icon-white
{
    background: url('++resource++collective.cover/img/columns.png') no-repeat scroll center 0 transparent;
}

#btn-tile .icon-white
{
    background: url('++resource++collective.cover/img/tiles.png') no-repeat 0 0;
}
.layout-actions .icon-white
{
    line-height: 32px;

    width: 32px;
    height: 28px;
}

.ui-draggable-dragging .icon-white
{
    display: none;
}

#group-select-list,
#tile-select-list
{
    display: none;
}

#tile-configure
{
    display: none;
}

#collective-cover-list-uuids-size
{
    width: 25px;
}

#content #collective-cover-list-uuids-tiletitle
{
    font-size: 1em;

    width: 100px;
}

.tile-name
{
    font-weight: bold;

    position: relative;
    top: 10px;

    text-align: center;
}

.btn-tile
{
    float: left;

    margin: 0 auto;
    padding-right: 10px;

    text-align: center;
}
.btn-tile span
{
    font-size: 11px;

    display: block;
}

.layout-actions
{
    float: left;

    margin-right: 15px;
    padding-right: 15px;

    border-right: 1px solid #333;
}

#sidebar
{
    float: left;
    clear: both;

    width: 100%;
    margin-bottom: 20px;
}


/* tiles config */
.modal-fields,
#configure_tile > div
{position: relative;min-height: 2em;padding-bottom: 8px;

    border-bottom: 1px solid #d1d1d1;
}
#configure_tile > div > label
{float: left;margin-right: 8px;
    margin-left: 20px;
}
#tile-configure .formControls
{
    border-bottom: none;
}
#configure_tile input[type=radio]
{
    display: none;
}
#configure_tile input[type=radio] + label
{
    display: inline-block; padding: 0 10px;text-indent: -2000px;
}
#configure_tile input[type=radio]:checked + label
{
    display: none;
}
.order-box
{
    position: absolute;top: 0;right: 0;
}
.visibility-box
{
    position: absolute; top: 0; left: 0;
}
.visibility-box > span
{
    display: none;
}
.visibility-no
{
    background: url('++resource++collective.cover/img/visibility.png') no-repeat 0 4px;
}
.visibility-yes
{
    background: url('++resource++collective.cover/img/visibility.png') no-repeat -22px 4px;
}

#tile-configure .order-box
{
    display: none;
}

#tile-configure .config-sortable
{
    cursor: move;
}
