#columns .full-column {
    float: left;
    width: 98%;
    min-height: 400px;
    height: auto !important; 
    height: 400px;
}

#columns .flex-half-column {
    float: left;
    width: 46%;
    min-height: 400px;
    height: auto !important; 
    height: 400px;
}

#columns .flex-third-column {
    float: left;
    width: 30%;
    min-height: 400px;
    height: auto !important; 
    height: 400px;
}

#edit-composition #columns .full-column {
    border: 1px dashed gray;
    width: 99%;
}

#edit-composition #columns .flex-half-column {
    border: 1px dashed gray;
    margin: 3px;
    width: 49%;
}

#edit-composition #columns .flex-third-column {
    border: 1px dashed gray;
    margin: 3px;
    width: 32%;
}

.widget {
    margin: 30px 20px 0 20px;
    padding: 2px;
    background: #205C90;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.widget .widget-head {
    color: #FFF;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.widget .widget-head h3 {
    padding: 5px 10px;
    float: left;
    color: #FFF;
}
.widget .widget-content {
    background: #FFF;
    padding: 0 5px;
    color: #000;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
.widget .widget-content p {
    padding: 0.8em 0;
}
.widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
.widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
.widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
.widget .widget-content ul li {padding: 3px 0;}
.widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
.widget .widget-content ul.images li {
    display: inline;
    float: left;
}
.widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
.widget-head a.remove  {
    float: right;
    display: inline;
    background: url(/++resource++collective.composition/buttons.gif) no-repeat -24px 0;
    width: 14px;
    height: 14px;
    margin: 8px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.edit  {
    float: right;
    display: inline;
    background: url(/++resource++collective.composition/buttons.gif) no-repeat;
    width: 24px;
    height: 14px;
    text-indent: -9999em;
    margin: 8px 4px 8px 4px;
    outline: none;
}

.widget-head a.collapse  {
    float: left;
    display: inline;
    background: url(/++resource++collective.composition/buttons.gif) no-repeat -52px 0;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    margin: 8px 0 8px 4px;
    outline: none;
}

.widget-placeholder {
    border: 2px dashed #999;
    margin: 30px 20px 0 20px;
}

.edit-box {
    overflow: hidden;
    background: #333;
    margin-bottom: 2px;
    padding: 10px 0;
}

.edit-box li.item {
    padding: 10px 0;
    overflow: hidden;
    float: left;
    width: 100%;
    clear: both;
}


.edit-box label {
    float: left;
    width: 30%;
    color: #FFF;
    padding: 0 0 0 10px;
}

.edit-box ul.colors li {
    width: 20px;
    height: 20px;
    border: 1px solid #EEE;
    float: left;
    display: inline;
    margin: 0 5px 0 0;
    cursor: pointer;
}

