#main-wrapper {
    height: 960px;
}
.layout .tile {
    padding: 2px;
}
.layout .row {
    outline: 1px dashed blue;
    min-height:100px;
    margin:10px 0;
    padding:10px 0;
}
.layout .column {
    outline: 1px dashed #ccc;
    min-height:100px;
}

.layout .tile-wrapper {
    padding: 10px;
}

.ui-resizable-helper {
    border: 1px dotted #00F;
}

#sidebar {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 5px 5px 5px #888;    
}

#sidebar .btn {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#news img {
    float: right;
}

#news p {
    clear: both;
}
.row-droppable {
    width:100%;
    clear:both;
}
.row-droppable.ui-state-default {
    min-height:10px;
    display:block;
}

.layout .label {
    background-color: #EFEFEF;
    font-size: 10px;
    left: 0;
    line-height: 1em;
    min-width: 6em;
    position: absolute;
    text-align: center;
    bottom:0px;
}
.layout .columnlabel {
    background-color: #E1E1E1;
    top: 0px;
    bottom:auto;
}
