.layout {
    float: left;
    width: 90%;
}

#sidebar {
    float: right;
    width: 9%;
}

.layout .tile {
    background-color: #F9F9F9;
    margin: 5px;
    min-height: 50px;
    outline: 1px solid #999;
    position: relative;
}

.layout .row {
    outline: 1px dashed blue;
    margin: 10px 0;
    min-height: 100px;
    padding: 15px 0;
}

.layout .column {
    min-height: 100px;
    outline: 1px dashed #ccc;
    padding: 10px 0;
}

.layout .tile-wrapper {
    padding: 10px;
}

.ui-resizable-helper {
    border: 1px dotted #00F;
}

#sidebar {
    background-color: #FFF;
    padding: 0;
    position: relative;
    top: 10px;
}

#sidebar .btn {
    background-color: #333333;
    color: #FFFFFF;
    cursor:pointer;
    margin-bottom: 10px;
    padding: 10px 10px 10px 35px;
    text-align: left;
}

.btn.ui-draggable-dragging {
    background-color: #333333;
    color: #FFFFFF;
    padding:10px;
}
#sidebar .draggable {
    cursor: move;
}

#sidebar .btn:hover {
    background-color: #444;
}

#news img {
    float: right;
}

#news p {
    clear: both;
}
.row-droppable {
    clear: both;
    width: 100%;
}

.row-droppable.ui-state-default {
    display: block;
    min-height: 10px;
}

.layout .label {
    font-size: 10px;
    left: 0;
    line-height: 1em;
    min-width: 6em;
    position: absolute;
    text-align: center;
    top: 0;
}

.layout .columnlabel {
    top: 0px;
    bottom:auto;
}

.add-column {
    background-color: blue;
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    cursor:pointer;
}

.remove-column {
    background-color: red;
    height: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    width: 10px;
    cursor:pointer;
}

/*ACTION BUTTONS*/

#btn-row {
    background: url(/++resource++collective.composition/rows.png) no-repeat 10px center;
}

#btn-column {
    background: url(/++resource++collective.composition/columns.png) no-repeat 10px center;
}

#btn-tile {
    background: url(/++resource++collective.composition/tiles.png) no-repeat 10px center;
}
