.layout {
    float: left;
    width: 90%;
}

#sidebar {
    float: right;
    width: 9%;
}

.layout .tile {
    background-color: #F9F9F9;
    margin: 5px 15px 5px 5px;
    min-height: 50px;
    outline: 1px solid #999;
    position: relative;
}

.layout .row {
    outline: 1px dashed blue;
    margin: 10px 0;
    min-height: 100px;
    padding: 15px 0;
}

.layout .column {
    min-height: 100px;
    outline: 1px dashed #ccc;
    padding: 10px 0;
    overflow:hidden;
}

.layout .tile-wrapper {
    padding: 10px;
}
.layout .guides {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    display:none;
}
.layout .row-guide {
    border-left:1px dotted #333;
    height:100%;
    width:1px;
}

.ui-resizable-helper {
    border: 1px dotted #00F;
}

#sidebar {
    background-color: #FFF;
    padding: 0;
    position: relative;
    top: 10px;
}

#sidebar .btn {
    background-color: #333333;
    color: #FFFFFF;
    cursor:pointer;
    margin-bottom: 10px;
    padding: 10px 10px 10px 35px;
    text-align: left;
}

.btn.ui-draggable-dragging {
    background-color: #333333;
    color: #FFFFFF;
    padding:10px;
}
#sidebar .draggable {
    cursor: move;
}
#sidebar .btn:hover {
    background-color: #444;
}

#news img {
    float: right;
}

#news p {
    clear: both;
}
.row-droppable {
    clear: both;
    width: 100%;
}

.row-droppable.ui-state-default {
    display: block;
    min-height: 10px;
}

.layout .label {
    font-size: 10px;
    left: 0;
    line-height: 1em;
    min-width: 6em;
    position: absolute;
    text-align: center;
    top: 0;
}

.layout .columnlabel {
    top: 0px;
    bottom:auto;
}

.add-column {
    height: 49%;
    position: absolute;
    right: 0px;
    top: 0;
    width: 10px;
    cursor:pointer;
    border-left:1px dashed #CCCCCC;
    border-bottom:1px dashed #CCCCCC;    
    background: #FFF url(/++resource++collective.composition/arrow-right.gif) no-repeat center center;
}

.remove-column {
    height: 50%;
    position: absolute;
    right: 0px;
    top: 50%;
    width: 10px;
    cursor:pointer;
    border-left:1px dashed #CCCCCC;
    background: #FFF url(/++resource++collective.composition/arrow-left.gif) no-repeat center center;
}
.add-column.disabled {
    background-color:#eaeaea;
}

/*ACTION BUTTONS*/

#btn-row {
    background: url(/++resource++collective.composition/rows.png) no-repeat 10px center;
}

#btn-column {
    background: url(/++resource++collective.composition/columns.png) no-repeat 10px center;
}

#btn-tile {
    background: url(/++resource++collective.composition/tiles.png) no-repeat 10px center;
}

#tile-select-list {
    display:none;
}

#tile-configure  {
    display:none;
}
