#screenlet-content-search {
    border: 1px solid #CCCCCC;
    display: block;
    padding: 20px;
    position: absolute;
    z-index: 9999;
    background-color:#FFFFFF;
    display: none;
}

#screenlet-content-search #item-list {
    border: 1px solid #CCCCCC;
    padding: 5px;
    margin:0;
    margin-top: 10px;
    width: 300px;
    height: 250px;
    overflow: scroll;
}

#screenlet-content-search #item-list li {
    list-style-image: none;
    list-style-type: none;
}

#screenlet-content-search #item-list li:hover {
   background-color: #205C90;
}

#content #screenlet-content-search #item-list li a:link {
    border-bottom: 0;
    display: block;
}

#screenlet-content-show-button {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    position: absolute;
    right: 0;
    z-index: 999;
    background: #FFF;
    cursor: pointer;
}