$icomoon-font-family: "cover-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-layout: "\e900";
$icon-cover: "\e901";
$icon-compose: "\e902";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?e05pqo');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?e05pqo#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?e05pqo') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?e05pqo') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?e05pqo##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
